*{
    font-family: 'Tilt Neon', cursive;
}

/* set size of 1rem */
html{
    font-size: 62.5%;
    min-width: 230px;    
}

header{
    text-align: center;
    background: linear-gradient(0.25turn, #FB4B4E, #FFCBDD, #7C0B2B);
    padding: 1rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.80rem;
}

.content-container{
    display: flex;
    flex-direction: column;

}

.search{
    display:flex;
    flex-direction: column;
}

.search h3{
    margin-block: 0.5rem;
}

.search button{
    margin-block: 0.5rem;
    background: linear-gradient(0.25turn, #FB4B4E, #FFCBDD, #7C0B2B);
    color: #000;
    border-radius: 0.25rem;
    font-size: 1.5rem;
}
#cities {
    display:flex;
    flex-direction: column;
}
#cities button{
    margin-block: 0.5rem;
    background: linear-gradient(0.25turn, #FB4B4E, #FFCBDD, #7C0B2B);
    color: #000;
    border-radius: 0.25rem;
    font-size: 1.5rem;
}

hr {
    border-top: 3px solid #3E000C;
    width: 100%;
}

.city-forcast{
    
    padding-left: 0.5rem;
}

.city-forcast p{
    font-size: 1.4rem;
}
.city-forcast-header{
    display: flex;
    flex-direction: row;

}

.city-5day-forcast-card{
    background-color: #FB4B4E;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-block: 0.25rem;
    border-radius: 0.25rem;
}
.city-5day-forcast-card h3{
    margin-top: 0.25rem;
}
.city-5day-forcast-card p{
    font-size: 1.4rem;
}

/* tablet */
@media screen  and (min-width:768px){
    .content-container{
        display: flex;
        flex-direction: row;        
        justify-content: space-around;
    }
    .display-content{
        min-width: 74%;
    }
    .container{
        min-width: 25%;
        /* padding: 0.15rem; */
    }
}

/* desktop */
@media screen  and (min-width:1024px){
    .city-5day-forcast-card-container{
        display: flex;
        flex-direction: row;      
    }
    .city-5day-forcast-card{
        flex-grow: 1;
        margin-inline: 0.25rem;
    }

}

